@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;

}
h1,
h2,
h3,p,ul,ol,th{
    margin: 0;
    list-style: none;
    padding:0;
    font-weight: 400;
}
*{
    box-sizing: border-box
}
/*thème*/
header{
    background: #222;
}
header *{
    text-align: center;
    color: #fafafa;
    line-height: 6.0rem;
}
/*arrow*/
i{
    border: solid #fafafa;
    border-width: 0 .3rem .3rem 0;
    display: inline-block;
    padding:.3rem;
    vertical-align: middle;
}
header .arrow-left{
    transform: rotate(-45deg);/*45deg en bas*/
}
.section,footer{
    width: 95rem;
    margin: 5rem auto 0;
    padding: .5rem;
}
footer{
    margin-top:0;
}
footer *{
    text-align: center;
    color: #999;
}
table{
    width: 100%;
    line-height: 4.5rem;
    border-spacing: 0;
    background: #fafafa;
    border: solid .1rem transparent;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);

}
table caption{
    font-size: 2rem;
}
table,tr,th,td{
    border: solid .1rem #ccc;
    border-collapse: collapse;
}
table th,td{
    padding: .5rem;
}
table thead{
    background: #c0392b;
}
table tfoot{
    background: #27ae60;
}
table thead,table tfoot{
    /*background-color: rgb(9, 89, 154);*/
    color: #fafafa;
}
table th:nth-of-type(1){
    width: 20%;
}
table th:nth-of-type(1)::before{
    content: '\f17b';
    font-family: 'Font Awesome 5 Brands';
    margin-right: .5rem;
}
table caption::before{
    
    content: '\f1cb';
    font-family: 'Font Awesome 5 Brands';
    margin-right: .5rem;
}
tbody tr:nth-child(2n+1){
    background-color: #dfe6e9;
}
tbody tr{
    transition: all 300ms ease-in-out;
}
tbody tr:hover{
    background-color: rgb(9, 89, 154);
    color:#fafafa;
    cursor: pointer;
}
.grayscale{
    filter: grayscale(80%);
}



/*responsive*/
@media screen and (max-width: 102.4rem){
    body{
        margin: 1%;
    }
    header h1{
        font-size: 4.5vw;
    }
    .section{
        width: auto;
        padding: 0;
    }
}
